html,
body{

  scroll-behavior: smooth;
}


body{
  height: 100%;
  font-size: 10px;
  color:#000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: var(--site-background);
}

.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main{
  flex: 1 1 auto;
  // flex-grow: 1 ;
}


.container{
  max-width: 117rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.container1110{
  max-width: 111rem;
  margin: 0 auto;

}

.title{
    font-family: 'ZCOOL XiaoWei';
    font-style: normal;
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 7rem;
    color: #232020;
}

.title--uppercase{
    font-family: 'ZCOOL XiaoWei';
    font-style: normal;
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 7rem;
    color: #232020;
    text-transform: uppercase;
}

.btn {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.04em;
  background-color: #000000;
  color: #FFFFFF;
  display: inline-block;
  transition: all .3s;
  cursor: pointer;
  &:hover{
    border: 0.1rem solid #D48A5C;
    color: #000000;
    background-color: transparent;
  }

}


.hidden{
  display: none;
}


.slick-dots{
  display: flex;
  justify-content: center;
  gap: 1.5rem;

  button{
    font-size: 0;
    padding: 0;
    width: 0.8rem;
    height: 0.8rem;
    border: 0.1rem solid #D58A5C;
    border-radius: 50%;
    background-color: transparent;
  }

  li.slick-active{
    button{
      background-color:  #D58A5C;
    }
  }

}